@import "tailwindcss";

/* =====================
   PRINT STYLES (A4)
===================== */
@media print {
  body {
    background: white !important;
  }

  img {
    display: block !important;
    max-width: 100% !important;
    max-height: 100% !important;
    page-break-inside: avoid !important;
  }

  .print-hidden {
    display: none !important;
  }
}
.reactEasyCrop_CropArea {
  border: 3px solid #2563eb !important; /* strong blue */
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.75);
}

