.report-header {
  font-family: "Times New Roman", Times, serif;
}

.report-header .line-1 {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.report-header .line-2 {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 2px;
}
